<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<!-- 
	ESTE ES UN ARCHIVO DE EJEMPLO
	Reemplázalo con el GoogleService-Info.plist real descargado de Firebase Console
	
	INSTRUCCIONES:
	1. Ve a https://console.firebase.google.com
	2. Selecciona tu proyecto
	3. Agrega una app iOS
	4. Usa el Bundle ID: org.reactjs.native.example.FireBase04
	5. Descarga GoogleService-Info.plist
	6. Colócalo en ios/FireBase04/GoogleService-Info.plist
	7. Agrega el archivo al proyecto Xcode
	-->
	<key>CLIENT_ID</key>
	<string>123456789-abcdefghijk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.123456789-abcdefghijk</string>
	<key>API_KEY</key>
	<string>tu-api-key-ios-aqui</string>
	<key>GCM_SENDER_ID</key>
	<string>123456789</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.FireBase04</string>
	<key>PROJECT_ID</key>
	<string>tu-proyecto-firebase</string>
	<key>STORAGE_BUCKET</key>
	<string>tu-proyecto-firebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:123456789:ios:abcdefghijk</string>
</dict>
</plist>
